<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.number_field :uid, id: :movie_uid %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :movie_genre %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :movie_year %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :movie_rating %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :movie_country %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :movie_language %>
  </div>

  <div class="field">
    <%= form.label :actor %>
    <%= form.text_field :actor, id: :movie_actor %>
  </div>

  <div class="field">
    <%= form.label :director %>
    <%= form.text_field :director, id: :movie_director %>
  </div>

  <div class="field">
    <%= form.label :award %>
    <%= form.text_field :award, id: :movie_award %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_field :review, id: :movie_review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
